.gradle
/bin/
/build/
**/build/
classes/
target/
!gradle/wrapper/gradle-wrapper.jar
*.sw*
.DS_Store
.gradle
out
test-output
atlassian-ide-plugin.xml
.gradletasknamecache

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Eclipse
.classpath
.project

